<!DOCTYPE html>
<html>
  <head>
    <title>Awesome Events</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- bootstrap sf1 -->
    <%= javascript_include_tag "bootstrap-sf1/js/docs.js" %>
    <%= stylesheet_link_tag "bootstrap-sf1/dist/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag "bootstrap-sf1/dist/css/docs.min.css" %>
  </head>
  <body>
    <header class="navbar navbar-default navbar-static-top navbar-branded" role="banner">
      <div class="container">
        <div class="navbar-header">
          <%= link_to 'Awesome Events', root_path, class: 'navbar-brand' %>
        </div>
        <div class="collapse navbar-collapse" id="bx-example-1">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'イベント作成', new_event_path %></li>
            <% if logged_in? %>
              <li><%= link_to '退会', retire_user_path %></li>
              <li><%= link_to 'ログアウト', logout_path %></li>
            <% else %>
              <li><%= link_to 'Twitterでログイン', '/auth/twitter' %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </header>
    <div class="container">
      <% if flash[:notice] %>
        <div class="alert alert-success" style="margin-top: 10px;">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger" style="margin-top: 10px;">
          <%= flash[:alert] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
